body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #292b2a;
}

h2,
p {
  margin: 0;
}

.container {
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 0 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 115px;
}

svg {
  width: 40px;
  height: 40px;
}

.line {
  height: 28px;
  border-left: 1px solid #d7d7d7;
}

.header-subcontainer {
  width: 1520px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.burger-container {
  margin-right: 50px;
}

.burger {
  font-size: 11px;
}

.burger-line.burger-line-1 {
}

.burger-line.burger-line-2 {
}

.burger-line.burger-line-3 {
}

.phone {
  font-weight: 700;
  font-size: 16px;

  text-decoration: none;
  color: #292b2a;
}

.description {
  margin-left: 12px;
  font-size: 14px;
  color: #959595;
}

.button {
  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.search-icon {
  transform: translate(5px, 5px);
}

.search-button:hover path {
  fill: #ceafc8;
}

.cart-icon {
  transform: translate(0, 5px);
}

.shopping-cart-button:hover path {
  fill: #ceafc8;
}

.shopping-cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.shopping-cart-button {
}

.goods {
  width: 22px;
  height: 15px;
  margin-left: 9px;

  background: #ceafc8;
  border-radius: 4px;

  text-align: center;
  font-weight: 900;
  font-size: 10px;
  color: #ffffff;
  line-height: 15px;
}

.subcontainer-lower {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 280px;
  height: 186px;

  padding: 40px;

  box-shadow: 1px 1px 10px #e5e5e5;
  border-radius: 8px;

  position: relative;
  overflow: hidden;
}

.card::before {
  display: none;
  content: "";
  position: absolute;
  width: 450px;
  height: 600px;
  left: 0;

  overflow: hidden;
  border-radius: 50%;
  background-color: #ceafc8;
  transform: translate(-80px, -200px);
  animation: fill 1.2s cubic-bezier(0.5, 0.67, 0.7, 1);
  z-index: -1;
}

.card-fruits {
  width: 670px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: -2;
}

.bg-fruit {
  background-image: url(../img/fruits.png);
}

.bg-berries {
  background-image: url(../img/berries.jpg);
}

.bg-juice {
  background-image: url(../img/juice.jpg);
}

.bg-vegs {
  background-image: url(../img/vegs.jpg);
}

.card-vegs {
  height: 482px;
}

.card-vegs::before {
  width: 600px;
  height: 450px;
  background-color: #ffd452;
  transform: translate(-120px, -200px) rotate(-180deg);
  animation: fill-vegs .8s cubic-bezier(0.5, 0.67, 0.7, 1);
}

.card-berries::before,
.card-juice::before {
  width: 350px;
  height: 400px;
  background-color: #fc8663;
  transform: translate(-150px, -100px);
  animation: fill-berries .8s ease-in-out;
}

.card-juice::before {
  background-color: #88bcb9;
}

.title {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
}

.watch-more {
  margin-top: 60px;
  background-color: transparent;
  border: none;
}

.watch-more-white {
  margin-top: 60px;
  background-color: transparent;
  border: none;
  display: none;
  transform: translate(-25px, 0);
  transition-duration: 1s;
  opacity: 0;
}

.watch-more:hover,
.watch-more-white:hover {
  cursor: pointer;
}

.card:hover .watch-more {
  transform: translateX(50px);
  visibility: hidden;
  opacity: 0;
  transition-duration: .3s;
}

.card:hover .watch-more-white {
  display: block;
  transition-duration: 1s;
  visibility: visible;
  opacity: 1;
  transform: translate(5px, -105px);
}

.card:hover::before {
  display: block;
}

.purple {
  color: #ceafc8;
}

.red {
  color: #fc8663;
}

.green {
  color: #88bcb9;
}

.orange {
  color: #ffd452;
}

@keyframes fill {
  from {
    left: -250px;
    transform: translate(-200px, -200px) rotate(0deg);
  }
  to {
    left: 0;
    transform: translate(-80px, -200px) rotate(-180deg);
  }
}

@keyframes fill-vegs {
  from {
    top: -100px;
    border-radius: 40%;
    transform: translate(-120px, -500px) rotate(0deg);
  }
  to {
    top: 40px;
    border-radius: 50%;
    transform: translate(-120px, -200px) rotate(-180deg);
  }
}

@keyframes fill-berries {
  from {
    left: -250px;
    border-radius: 40%;
    transform: translate(-100px, 0px) rotate(0deg);
  }
  to {
    left: 0;
    transform: translate(-150px, -100px) rotate(-180deg);
  }
}
